In [15]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [17]:
import sys
sys.path.append("../") 

from utils.paths import make_dir_line

modality = 'c'
project = 'Joining Data in SQL'
data = make_dir_line(modality, project)

raw = data('raw')

In [18]:
import sqlite3

conn = sqlite3.connect(":memory:")  ## aca se indica el nombre de la db.
cur = conn.cursor()

# 5.3.0 Set Theory for SQL Joins

In [19]:
conn.executescript(
    """
    
DROP TABLE IF EXISTS cities;

CREATE TABLE cities (
    name                  STRING,
    country_code          STRING,
    city_proper_pop       DOUBLE,
    metroarea_pop         DOUBLE,
    urbanarea_pop         DOUBLE
);


DROP TABLE IF EXISTS countries;

CREATE TABLE countries (
  code                  STRING     PRIMARY KEY,
  name                  VARCHAR,
  continent             VARCHAR,
  region                VARCHAR,
  surface_area          REAL,
  indep_year            INTEGER,
  local_name            VARCHAR,
  gov_form              VARCHAR,
  capital               VARCHAR,
  cap_long              REAL,
  cap_lat               REAL
);


DROP TABLE IF EXISTS economies;

CREATE TABLE economies (
  econ_id               INTEGER     PRIMARY KEY,
  code                  STRING,
  year                  INTEGER,
  income_group          VARCHAR,
  gdp_percapita         REAL,
  gross_savings         REAL,
  inflation_rate        REAL,
  total_investment      REAL,
  unemployment_rate     REAL,
  exports               REAL,
  imports               REAL
);


DROP TABLE IF EXISTS languages;

CREATE TABLE languages (
  lang_id               INTEGER     PRIMARY KEY,
  code                  VARCHAR,
  name                  VARCHAR,
  percent               REAL,
  official              BOOLEAN
);


DROP TABLE IF EXISTS populations;

CREATE TABLE populations (
  pop_id                DOUBLE     PRIMARY KEY,
  country_code          VARCHAR,
  year                  DOUBLE,
  fertility_rate        REAL,
  life_expectancy       REAL,
  size                  DOUBLE
);


DROP TABLE IF EXISTS currencies;

CREATE TABLE currencies (
  curr_id               INTEGER     PRIMARY KEY,
  code                  VARCHAR,
  basic_unit            VARCHAR,
  curr_code             VARCHAR,
  frac_unit             VARCHAR,
  frac_perbasic         REAL
);


DROP TABLE IF EXISTS economies2015;

CREATE TABLE economies2015 (
  code                  VARCHAR     PRIMARY KEY,
  year                  INTEGER,
  income_group          VARCHAR,
  gross_savings         REAL
);


DROP TABLE IF EXISTS economies2019;

CREATE TABLE economies2019 (
  code                  VARCHAR     PRIMARY KEY,
  year                  INTEGER,
  income_group          VARCHAR,
  gross_savings         REAL
);


"""
)
conn.commit()

In [20]:
df = pd.read_csv(raw / 'countries/cities.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
cities = list(zip(df.name, df.country_code, df.city_proper_pop, df.metroarea_pop, df.urbanarea_pop))
cur.executemany("INSERT INTO cities VALUES  (?,?,?,?,?)", cities)

In [21]:
df = pd.read_csv(raw / 'countries/countries.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
countries = list(zip(df.code, df.country_name, df.continent, df.region, df.surface_area, df.indep_year, df.local_name, df.gov_form, df.capital, df.cap_long, df.cap_lat))
cur.executemany("INSERT INTO countries VALUES  (?,?,?,?,?,?,?,?,?,?,?)", countries)

In [22]:
df = pd.read_csv(raw / 'countries/economies.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
economies = list(zip(df.econ_id, df.code, df.year, df.income_group, df.gdp_percapita, df.gross_savings, df.inflation_rate, df.total_investment, df.unemployment_rate, df.exports, df.imports))
cur.executemany("INSERT INTO economies VALUES  (?,?,?,?,?,?,?,?,?,?,?)", economies)

In [23]:
df = pd.read_csv(raw / 'countries/languages.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
languages = list(zip(df.lang_id, df.code, df.name, df.percent, df.official))
cur.executemany("INSERT INTO languages VALUES  (?,?,?,?,?)", languages)

In [24]:
df = pd.read_csv(raw / 'countries/populations.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
populations = list(zip(df.pop_id, df.country_code, df.year, df.fertility_rate, df.life_expectancy, str(df.size)))
cur.executemany("INSERT INTO populations VALUES  (?,?,?,?,?,?)", populations)

In [25]:
df = pd.read_csv(raw / 'countries/currencies.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
currencies = list(zip(df.curr_id, df.code, df.basic_unit, df.curr_code, df.frac_unit, df.frac_perbasic))
cur.executemany("INSERT INTO currencies VALUES  (?,?,?,?,?,?)", currencies)

In [26]:
df = pd.read_csv(raw / 'countries/economies2015.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
economies2019 = list(zip(df.code, df.year, df.income_group, df.gross_savings))
cur.executemany("INSERT INTO economies2019 VALUES  (?,?,?,?)", economies2019)

In [27]:
df = pd.read_csv(raw / 'countries/economies2019.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
economies2015 = list(zip(df.code, df.year, df.income_group, df.gross_savings))
cur.executemany("INSERT INTO economies2015 VALUES  (?,?,?,?)", economies2015)

## 5.3.2 UNION vs. UNION ALL

Question:

What result will the following SQL query produce?

```python

    SELECT * 
    FROM languages
    UNION
    SELECT * 
    FROM currencies;

```

R:/ A SQL error, because languages and currencies do not have the same number of field.

```python

    SELECT code FROM
    languages
    UNION ALL
    SELECT code FROM 
    currencies;

```

R:/ An unordered list of each country code in languages and currencies, including duplicates.

```python

    SELECT code 
    FROM languages
    UNION
    SELECT curr_id 
    FROM currencies;

```

R:/ A SQL error, because code and curr_id are not of the same data type.


## 5.3.3 Comparing global economies

In [28]:
# -- Select all fields from economies2015, Set operation, Select all fields from economies2019
cur.execute("""
            
            SELECT *
            FROM economies2015
            UNION
            SELECT *
            FROM economies2019
            ORDER BY code, year;
            
            """).fetchall()

[('ABW', 2015, 'High income', 14.86785151),
 ('AGO', 2015, 'Lower middle income', 25.02132654),
 ('AGO', 2019, 'Lower middle income', 25.52484772),
 ('ALB', 2015, 'Upper middle income', 16.8639814),
 ('ALB', 2019, 'Upper middle income', 14.4998255),
 ('ARG', 2015, 'Upper middle income', 14.28730262),
 ('ARG', 2019, 'Upper middle income', 14.28529512),
 ('ARM', 2015, 'Upper middle income', 18.43038559),
 ('ARM', 2019, 'Upper middle income', 9.815573922),
 ('ATG', 2015, 'High income', 7.051264504),
 ('ATG', 2019, 'High income', 26.38342703),
 ('AUS', 2015, 'High income', 22.70271367),
 ('AUS', 2019, 'High income', 22.52853371),
 ('AUT', 2015, 'High income', 25.65331339),
 ('AUT', 2019, 'High income', 27.75799005),
 ('AZE', 2015, 'Upper middle income', 28.12191969),
 ('AZE', 2019, 'Upper middle income', 28.57354797),
 ('BDI', 2015, 'Low income', 11.22352302),
 ('BEL', 2015, 'High income', 25.00867822),
 ('BEL', 2019, 'High income', 25.09256403),
 ('BEN', 2015, 'Lower middle income', 13.86203006),
 ('BEN', 2019, 'Lower middle income', 21.71942726),
 ('BFA', 2015, 'Low income', 11.85934408),
 ('BFA', 2019, 'Low income', 16.86677862),
 ('BGD', 2015, 'Lower middle income', 36.73376986),
 ('BGD', 2019, 'Lower middle income', 35.72906731),
 ('BGR', 2015, 'Upper middle income', 22.19285141),
 ('BGR', 2019, 'Upper middle income', 24.2889721),
 ('BHR', 2015, 'High income', 23.59933328),
 ('BHS', 2015, 'High income', 20.76599826),
 ('BHS', 2019, 'High income', 20.00181885),
 ('BIH', 2015, 'Upper middle income', 11.00677569),
 ('BIH', 2019, 'Upper middle income', 19.17116997),
 ('BLR', 2015, 'Upper middle income', 28.9087752),
 ('BLR', 2019, 'Upper middle income', 27.82238987),
 ('BLZ', 2015, 'Lower middle income', 13.1532771),
 ('BLZ', 2019, 'Lower middle income', 15.01743523),
 ('BMU', 2015, 'High income', 39.94720496),
 ('BMU', 2019, 'High income', 39.1734617),
 ('BOL', 2015, 'Lower middle income', 14.21692552),
 ('BOL', 2019, 'Lower middle income', 14.11479252),
 ('BRA', 2015, 'Upper middle income', 14.52934719),
 ('BRA', 2019, 'Upper middle income', 12.5423269),
 ('BRB', 2015, 'High income', 5.338419246),
 ('BRN', 2015, 'High income', 57.11833733),
 ('BRN', 2019, 'High income', 53.55344169),
 ('BTN', 2015, 'Lower middle income', 23.39981019),
 ('BTN', 2019, 'Lower middle income', 21.37668783),
 ('BWA', 2015, 'Upper middle income', 36.40472153),
 ('BWA', 2019, 'Upper middle income', 30.99518982),
 ('CAN', 2015, 'High income', 19.56936363),
 ('CAN', 2019, 'High income', 20.01542161),
 ('CHE', 2015, 'High income', 35.83819318),
 ('CHE', 2019, 'High income', 31.86302307),
 ('CHL', 2015, 'High income', 21.29965345),
 ('CHL', 2019, 'High income', 19.20627011),
 ('CHN', 2015, 'Upper middle income', 45.41758655),
 ('CHN', 2019, 'Upper middle income', 43.77302796),
 ('CIV', 2015, 'Lower middle income', 22.52951586),
 ('CIV', 2019, 'Lower middle income', 17.55413939),
 ('CMR', 2015, 'Lower middle income', 14.31569394),
 ('CMR', 2019, 'Lower middle income', 14.39895778),
 ('COD', 2015, 'Low income', 13.34708291),
 ('COD', 2019, 'Low income', 17.5043216),
 ('COG', 2015, 'Lower middle income', 40.45683662),
 ('COL', 2015, 'Upper middle income', 17.27934453),
 ('COL', 2019, 'Upper middle income', 16.15447891),
 ('COM', 2015, 'Lower middle income', 13.35659827),
 ('COM', 2019, 'Lower middle income', 8.144416911),
 ('CPV', 2015, 'Lower middle income', 28.15598428),
 ('CPV', 2019, 'Lower middle income', 35.24677401),
 ('CRI', 2015, 'Upper middle income', 14.62254549),
 ('CRI', 2019, 'Upper middle income', 13.48276256),
 ('CUW', 2015, 'High income', 20.01322584),
 ('CYP', 2015, 'High income', 13.23105533),
 ('CYP', 2019, 'High income', 14.62757465),
 ('CZE', 2015, 'High income', 27.09377506),
 ('CZE', 2019, 'High income', 26.95877966),
 ('DEU', 2015, 'High income', 28.32917186),
 ('DEU', 2019, 'High income', 29.63650535),
 ('DJI', 2015, 'Lower middle income', 25.67934937),
 ('DJI', 2019, 'Lower middle income', 26.23310327),
 ('DMA', 2015, 'Upper middle income', 5.806906693),
 ('DNK', 2015, 'High income', 28.87395985),
 ('DNK', 2019, 'High income', 30.77358852),
 ('DOM', 2015, 'Upper middle income', 21.34618314),
 ('DOM', 2019, 'Upper middle income', 24.31048199),
 ('DZA', 2015, 'Lower middle income', 36.48792155),
 ('DZA', 2019, 'Lower middle income', 39.07355916),
 ('ECU', 2015, 'Upper middle income', 24.31730415),
 ('ECU', 2019, 'Upper middle income', 25.52375001),
 ('EGY', 2015, 'Lower middle income', 9.593464708),
 ('EGY', 2019, 'Lower middle income', 15.18327142),
 ('ESP', 2015, 'High income', 21.01797741),
 ('ESP', 2019, 'High income', 22.99283222),
 ('EST', 2015, 'High income', 27.57829304),
 ('EST', 2019, 'High income', 29.9317155),
 ('ETH', 2015, 'Low income', 29.52215852),
 ('ETH', 2019, 'Low income', 29.03045172),
 ('FIN', 2015, 'High income', 20.89132927),
 ('FIN', 2019, 'High income', 23.8645134),
 ('FJI', 2015, 'Upper middle income', 22.69130908),
 ('FJI', 2019, 'Upper middle income', 16.41062057),
 ('FRA', 2015, 'High income', 22.25486926),
 ('FRA', 2019, 'High income', 23.65845933),
 ('GAB', 2015, 'Upper middle income', 38.37799673),
 ('GBR', 2015, 'High income', 12.5285819),
 ('GBR', 2019, 'High income', 15.1938785),
 ('GEO', 2015, 'Upper middle income', 14.47205091),
 ('GEO', 2019, 'Upper middle income', 19.75280813),
 ('GHA', 2015, 'Lower middle income', 21.22924497),
 ('GHA', 2019, 'Lower middle income', 18.60781572),
 ('GIN', 2015, 'Low income', -7.384262066),
 ('GIN', 2019, 'Low income', 8.404206885),
 ('GMB', 2015, 'Low income', 18.89235541),
 ('GMB', 2019, 'Low income', 17.89334546),
 ('GNB', 2015, 'Low income', 10.08902971),
 ('GNB', 2019, 'Low income', 11.55270522),
 ('GRC', 2015, 'High income', 10.68422082),
 ('GRC', 2019, 'High income', 10.28810039),
 ('GTM', 2015, 'Upper middle income', 13.57516993),
 ('GTM', 2019, 'Upper middle income', 16.61801641),
 ('HKG', 2015, 'High income', 24.85857296),
 ('HKG', 2019, 'High income', 24.03923094),
 ('HND', 2015, 'Lower middle income', 19.80347622),
 ('HND', 2019, 'Lower middle income', 20.5662165),
 ('HRV', 2015, 'High income', 22.58662415),
 ('HRV', 2019, 'High income', 24.39208841),
 ('HTI', 2015, 'Lower middle income', 12.26354481),
 ('HTI', 2019, 'Lower middle income', 16.63575298),
 ('HUN', 2015, 'High income', 25.32450731),
 ('HUN', 2019, 'High income', 27.63335048),
 ('IDN', 2015, 'Lower middle income', 30.12335649),
 ('IDN', 2019, 'Lower middle income', 30.90105165),
 ('IND', 2015, 'Lower middle income', 32.4539249),
 ('IND', 2019, 'Lower middle income', 29.88492591),
 ('IRL', 2015, 'High income', 30.19375006),
 ('IRL', 2019, 'High income', 35.39030271),
 ('IRQ', 2015, 'Upper middle income', 25.07153866),
 ('IRQ', 2019, 'Upper middle income', 37.73958961),
 ('ISL', 2015, 'High income', 19.64533352),
 ('ISL', 2019, 'High income', 24.03894785),
 ('ISR', 2015, 'High income', 25.11075537),
 ('ISR', 2019, 'High income', 24.92024928),
 ('ITA', 2015, 'High income', 18.52159713),
 ('ITA', 2019, 'High income', 21.38531052),
 ('JAM', 2015, 'Upper middle income', 18.23163596),
 ('JAM', 2019, 'Upper middle income', 22.70625896),
 ('JOR', 2015, 'Upper middle income', 16.00625901),
 ('JOR', 2019, 'Upper middle income', 10.09161673),
 ('JPN', 2015, 'High income', 28.17891582),
 ('JPN', 2019, 'High income', 29.34483507),
 ('KAZ', 2015, 'Upper middle income', 27.64339216),
 ('KAZ', 2019, 'Upper middle income', 26.6713826),
 ('KEN', 2015, 'Lower middle income', 6.804465304),
 ('KEN', 2019, 'Lower middle income', 13.86565155),
 ('KGZ', 2015, 'Lower middle income', 12.17321923),
 ('KGZ', 2019, 'Lower middle income', 24.05118583),
 ('KHM', 2015, 'Lower middle income', 20.73817136),
 ('KHM', 2019, 'Lower middle income', 27.12303432),
 ('KIR', 2015, 'Lower middle income', 76.17822109),
 ('KOR', 2015, 'High income', 36.34860305),
 ('KOR', 2019, 'High income', 34.78038233),
 ('KWT', 2015, 'High income', 30.91583879),
 ('KWT', 2019, 'High income', 32.27022223),
 ('LAO', 2015, 'Lower middle income', 10.74736536),
 ('LBN', 2015, 'Upper middle income', 2.378730109),
 ('LBN', 2019, 'Upper middle income', -3.512555824),
 ('LKA', 2015, 'Lower middle income', 28.82351401),
 ('LKA', 2019, 'Lower middle income', 24.70646801),
 ('LSO', 2015, 'Lower middle income', 27.20106791),
 ('LSO', 2019, 'Lower middle income', 20.16475356),
 ('LTU', 2015, 'High income', 18.82686259),
 ('LTU', 2019, 'High income', 21.04523432),
 ('LUX', 2015, 'High income', 17.80848169),
 ('LUX', 2019, 'High income', 15.92200518),
 ('LVA', 2015, 'High income', 23.16796841),
 ('LVA', 2019, 'High income', 22.5867656),
 ('MAC', 2015, 'High income', 48.65932669),
 ('MAC', 2019, 'High income', 47.79058811),
 ('MAR', 2015, 'Lower middle income', 28.85054322),
 ('MAR', 2019, 'Lower middle income', 27.79938561),
 ('MDA', 2015, 'Upper middle income', 17.79076484),
 ('MDA', 2019, 'Upper middle income', 16.09585561),
 ('MDG', 2015, 'Low income', 12.9239849),
 ('MDG', 2019, 'Low income', 16.0148454),
 ('MDV', 2015, 'Upper middle income', 24.26242983),
 ('MDV', 2019, 'Upper middle income', 17.38633005),
 ('MEX', 2015, 'Upper middle income', 21.7615082),
 ('MEX', 2019, 'Upper middle income', 23.65033508),
 ('MHL', 2015, 'Upper middle income', 33.0003958),
 ('MKD', 2015, 'Upper middle income', 28.47775079),
 ('MKD', 2019, 'Upper middle income', 31.53427286),
 ('MLI', 2015, 'Low income', 15.43661547),
 ('MLI', 2019, 'Low income', 15.57176599),
 ('MLT', 2015, 'High income', 27.46807478),
 ('MLT', 2019, 'High income', 28.30455334),
 ('MMR', 2015, 'Lower middle income', 30.83989413),
 ('MMR', 2019, 'Lower middle income', 29.77384119),
 ('MNE', 2015, 'Upper middle income', 9.117513909),
 ('MNE', 2019, 'Upper middle income', 17.68693506),
 ('MNG', 2015, 'Lower middle income', 16.40055943),
 ('MNG', 2019, 'Lower middle income', 20.25862666),
 ('MOZ', 2015, 'Low income', 12.64285688),
 ('MOZ', 2019, 'Low income', 18.29928806),
 ('MRT', 2015, 'Lower middle income', 21.47316094),
 ('MRT', 2019, 'Lower middle income', 36.01864534),
 ('MUS', 2015, 'Upper middle income', 16.07172604),
 ('MUS', 2019, 'Upper middle income', 18.29290308),
 ('MYS', 2015, 'Upper middle income', 28.39914484),
 ('MYS', 2019, 'Upper middle income', 24.54077993),
 ('NAM', 2015, 'Upper middle income', 16.28904885),
 ('NAM', 2019, 'Upper middle income', 12.59712981),
 ('NER', 2015, 'Low income', 24.16964269),
 ('NER', 2019, 'Low income', 24.96291642),
 ('NGA', 2015, 'Lower middle income', 17.00218848),
 ('NGA', 2019, 'Lower middle income', 22.44440024),
 ('NIC', 2015, 'Lower middle income', 23.48869249),
 ('NIC', 2019, 'Lower middle income', 23.41500727),
 ('NLD', 2015, 'High income', 28.77797422),
 ('NLD', 2019, 'High income', 31.46590243),
 ('NOR', 2015, 'High income', 35.60931643),
 ('NOR', 2019, 'High income', 32.7305194),
 ('NPL', 2015, 'Lower middle income', 40.08822844),
 ('NPL', 2019, 'Lower middle income', 42.18751605),
 ('NZL', 2015, 'High income', 20.75365954),
 ('NZL', 2019, 'High income', 21.05782566),
 ('OMN', 2015, 'High income', 22.47862994),
 ('OMN', 2019, 'High income', 22.02617885),
 ('PAK', 2015, 'Lower middle income', 15.77184542),
 ('PAK', 2019, 'Lower middle income', 12.36421857),
 ('PAN', 2015, 'Upper middle income', 31.61355517),
 ('PAN', 2019, 'Upper middle income', 28.96788897),
 ('PER', 2015, 'Upper middle income', 20.04791647),
 ('PER', 2019, 'Upper middle income', 19.3756357),
 ('PHL', 2015, 'Lower middle income', 35.6348267),
 ('PHL', 2019, 'Lower middle income', 31.75518964),
 ('POL', 2015, 'High income', 19.50483332),
 ('POL', 2019, 'High income', 20.05104422),
 ('PRT', 2015, 'High income', 15.64479626),
 ('PRT', 2019, 'High income', 18.39227843),
 ('PRY', 2015, 'Upper middle income', 22.56869632),
 ('PRY', 2019, 'Upper middle income', 21.84201188),
 ('PSE', 2015, 'Lower middle income', 11.38985199),
 ('PSE', 2019, 'Lower middle income', 16.85982014),
 ('QAT', 2015, 'High income', 45.56898651),
 ('QAT', 2019, 'High income', 46.15070294),
 ('ROU', 2015, 'Upper middle income', 24.32513763),
 ('ROU', 2019, 'Upper middle income', 18.73997238),
 ('RUS', 2015, 'Upper middle income', 26.36670919),
 ('RUS', 2019, 'Upper middle income', 26.68901961),
 ('RWA', 2015, 'Low income', 9.883934057),
 ('RWA', 2019, 'Low income', 11.13034269),
 ('SAU', 2015, 'High income', 25.50283078),
 ('SAU', 2019, 'High income', 33.59708141),
 ('SDN', 2015, 'Low income', 36.61223136),
 ('SDN', 2019, 'Low income', 35.48635019),
 ('SEN', 2015, 'Lower middle income', 20.54025021),
 ('SGP', 2015, 'High income', 44.0462477),
 ('SGP', 2019, 'High income', 40.3171296),
 ('SLB', 2015, 'Lower middle income', 13.07687048),
 ('SLB', 2019, 'Lower middle income', 2.841637735),
 ('SLE', 2015, 'Low income', -1.465528905),
 ('SLE', 2019, 'Low income', -2.434360546),
 ('SLV', 2015, 'Lower middle income', 12.32624987),
 ('SLV', 2019, 'Lower middle income', 16.26402933),
 ('SRB', 2015, 'Upper middle income', 16.33635793),
 ('SRB', 2019, 'Upper middle income', 18.30132502),
 ('SSD', 2015, 'Low income', 6.176861844),
 ('SVK', 2015, 'High income', 23.44624757),
 ('SVK', 2019, 'High income', 21.03062709),
 ('SVN', 2015, 'High income', 23.08998954),
 ('SVN', 2019, 'High income', 26.70118133),
 ('SWE', 2015, 'High income', 27.48339138),
 ('SWE', 2019, 'High income', 30.33838613),
 ('SWZ', 2015, 'Lower middle income', 22.64208989),
 ('SWZ', 2019, 'Lower middle income', 15.56645484),
 ('SXM', 2015, 'High income', 18.99465002),
 ('SYC', 2015, 'High income', 17.7821181),
 ('SYC', 2019, 'High income', 12.79445317),
 ('TGO', 2015, 'Low income', 21.19627143),
 ('TGO', 2019, 'Low income', 19.77522995),
 ('THA', 2015, 'Upper middle income', 28.04382283),
 ('THA', 2019, 'Upper middle income', 31.70838394),
 ('TJK', 2015, 'Lower middle income', 41.66999366),
 ('TJK', 2019, 'Lower middle income', 36.45672825),
 ('TLS', 2015, 'Lower middle income', 68.4174885),
 ('TLS', 2019, 'Lower middle income', 29.56328572),
 ('TON', 2015, 'Upper middle income', 8.896305106),
 ('TON', 2019, 'Upper middle income', 25.61430686),
 ('TUN', 2015, 'Lower middle income', 12.59691476),
 ('TUR', 2015, 'Upper middle income', 25.21372372),
 ('TUR', 2019, 'Upper middle income', 26.05279135),
 ('TZA', 2015, 'Lower middle income', 25.32380564),
 ('TZA', 2019, 'Lower middle income', 35.62466116),
 ('UGA', 2015, 'Low income', 16.57924218),
 ('UGA', 2019, 'Low income', 22.6844339),
 ('UKR', 2015, 'Lower middle income', 21.45707885),
 ('UKR', 2019, 'Lower middle income', 12.28500851),
 ('URY', 2015, 'High income', 14.86554183),
 ('URY', 2019, 'High income', 16.00567396),
 ('USA', 2015, 'High income', 20.20807249),
 ('USA', 2019, 'High income', 19.49464002),
 ('UZB', 2015, 'Lower middle income', 25.79368424),
 ('UZB', 2019, 'Lower middle income', 34.77136793),
 ('VNM', 2015, 'Lower middle income', 23.30366356),
 ('VNM', 2019, 'Lower middle income', 22.49204922),
 ('VUT', 2015, 'Lower middle income', 38.91030749),
 ('VUT', 2019, 'Lower middle income', 47.71465371),
 ('XKX', 2015, 'Upper middle income', 21.66713322),
 ('XKX', 2019, 'Upper middle income', 28.87963341),
 ('ZAF', 2015, 'Upper middle income', 14.28897594),
 ('ZAF', 2019, 'Upper middle income', 13.46573708),
 ('ZMB', 2015, 'Lower middle income', 33.70021507),
 ('ZMB', 2019, 'Lower middle income', 39.71439324),
 ('ZWE', 2015, 'Lower middle income', -0.1078259791),
 ('ZWE', 2019, 'Lower middle income', 11.83019724)]

## 5.3.4 Comparing two set operations

In [29]:
# -- Query that determines all pairs of code and year from economies and populations, without duplicates
cur.execute("""
            
            SELECT country_code
            FROM cities
            UNION
            SELECT code
            FROM currencies
            ORDER BY country_code;
            
            """).fetchall()

[('ABW',),
 ('AFG',),
 ('AGO',),
 ('AIA',),
 ('ALB',),
 ('AND',),
 ('ARE',),
 ('ARG',),
 ('ARM',),
 ('ATG',),
 ('AUS',),
 ('AUT',),
 ('AZE',),
 ('BDI',),
 ('BEL',),
 ('BEN',),
 ('BFA',),
 ('BGD',),
 ('BGR',),
 ('BHR',),
 ('BIH',),
 ('BLR',),
 ('BLZ',),
 ('BMU',),
 ('BOL',),
 ('BRA',),
 ('BRB',),
 ('BRN',),
 ('BTN',),
 ('BWA',),
 ('CAF',),
 ('CAN',),
 ('CCK',),
 ('CHE',),
 ('CHL',),
 ('CHN',),
 ('CIV',),
 ('CMR',),
 ('COD',),
 ('COG',),
 ('COK',),
 ('COL',),
 ('COM',),
 ('CPV',),
 ('CRI',),
 ('CUB',),
 ('CYM',),
 ('CYP',),
 ('CZE',),
 ('DEU',),
 ('DJI',),
 ('DMA',),
 ('DNK',),
 ('DOM',),
 ('DZA',),
 ('ECU',),
 ('EGY',),
 ('ERI',),
 ('ESP',),
 ('EST',),
 ('ETH',),
 ('FIN',),
 ('FLK',),
 ('FRA',),
 ('FRO',),
 ('GAB',),
 ('GBR',),
 ('GEO',),
 ('GHA',),
 ('GIB',),
 ('GIN',),
 ('GNB',),
 ('GNQ',),
 ('GRC',),
 ('GRD',),
 ('GTM',),
 ('GUY',),
 ('HKG',),
 ('HND',),
 ('HRV',),
 ('HTI',),
 ('HUN',),
 ('IDN',),
 ('IND',),
 ('IOT',),
 ('IRL',),
 ('IRN',),
 ('IRQ',),
 ('ISL',),
 ('ISR',),
 ('ITA',),
 ('JAM',),
 ('JOR',),
 ('JPN',),
 ('KAZ',),
 ('KEN',),
 ('KGZ',),
 ('KHM',),
 ('KIR',),
 ('KNA',),
 ('KOR',),
 ('KWT',),
 ('LAO',),
 ('LBN',),
 ('LBR',),
 ('LBY',),
 ('LCA',),
 ('LIE',),
 ('LKA',),
 ('LSO',),
 ('LTU',),
 ('LUX',),
 ('LVA',),
 ('MAR',),
 ('MCO',),
 ('MDA',),
 ('MDG',),
 ('MDV',),
 ('MEX',),
 ('MHL',),
 ('MLI',),
 ('MLT',),
 ('MMR',),
 ('MNG',),
 ('MOZ',),
 ('MRT',),
 ('MSR',),
 ('MUS',),
 ('MWI',),
 ('MYS',),
 ('NAM',),
 ('NCL',),
 ('NER',),
 ('NGA',),
 ('NIC',),
 ('NIU',),
 ('NLD',),
 ('NOR',),
 ('NPL',),
 ('NRU',),
 ('NZL',),
 ('OMN',),
 ('PAK',),
 ('PAN',),
 ('PER',),
 ('PHL',),
 ('PLW',),
 ('PNG',),
 ('POL',),
 ('PRK',),
 ('PRT',),
 ('PRY',),
 ('PSE',),
 ('PYF',),
 ('QAT',),
 ('ROM',),
 ('RUS',),
 ('RWA',),
 ('SAU',),
 ('SDN',),
 ('SEN',),
 ('SGP',),
 ('SGS',),
 ('SHN',),
 ('SLB',),
 ('SLE',),
 ('SLV',),
 ('SMR',),
 ('SOM',),
 ('SUR',),
 ('SVK',),
 ('SVN',),
 ('SWE',),
 ('SWZ',),
 ('SYC',),
 ('SYR',),
 ('TCA',),
 ('TCD',),
 ('TGO',),
 ('THA',),
 ('TJK',),
 ('TKM',),
 ('TMP',),
 ('TON',),
 ('TTO',),
 ('TUN',),
 ('TUR',),
 ('TUV',),
 ('TWN',),
 ('TZA',),
 ('UGA',),
 ('UKR',),
 ('URY',),
 ('USA',),
 ('UZB',),
 ('VCT',),
 ('VEN',),
 ('VNM',),
 ('VUT',),
 ('WLF',),
 ('WSM',),
 ('YEM',),
 ('ZAF',),
 ('ZMB',),
 ('ZWE',)]

In [30]:
# -- Query that determines all pairs of code and year from economies and populations, with duplicates
cur.execute("""
            
            SELECT code, year
            FROM economies
            UNION ALL
            SELECT country_code, year
            FROM populations
            ORDER BY code, year;
            
            """).fetchall()

[('ABW', 2010.0),
 ('ABW', 2015.0),
 ('AFG', 2010),
 ('AFG', 2010.0),
 ('AFG', 2015),
 ('AFG', 2015.0),
 ('AGO', 2010),
 ('AGO', 2015),
 ('ALB', 2010),
 ('ALB', 2015),
 ('ARE', 2010),
 ('ARE', 2015),
 ('ARG', 2010),
 ('ARG', 2015),
 ('ARM', 2010),
 ('ARM', 2015),
 ('ATG', 2010),
 ('ATG', 2015),
 ('AUS', 2010),
 ('AUS', 2015),
 ('AUT', 2010),
 ('AUT', 2015),
 ('AZE', 2010),
 ('AZE', 2015),
 ('BDI', 2010),
 ('BDI', 2015),
 ('BEL', 2010),
 ('BEL', 2015),
 ('BEN', 2010),
 ('BEN', 2015),
 ('BFA', 2010),
 ('BFA', 2015),
 ('BGD', 2010),
 ('BGD', 2015),
 ('BGR', 2010),
 ('BGR', 2015),
 ('BHR', 2010),
 ('BHR', 2015),
 ('BHS', 2010),
 ('BHS', 2015),
 ('BIH', 2010),
 ('BIH', 2015),
 ('BLR', 2010),
 ('BLR', 2015),
 ('BLZ', 2010),
 ('BLZ', 2015),
 ('BOL', 2010),
 ('BOL', 2015),
 ('BRA', 2010),
 ('BRA', 2015),
 ('BRB', 2010),
 ('BRB', 2015),
 ('BRN', 2010),
 ('BRN', 2015),
 ('BTN', 2010),
 ('BTN', 2015),
 ('BWA', 2010),
 ('BWA', 2015),
 ('CAF', 2010),
 ('CAF', 2015),
 ('CAN', 2010),
 ('CAN', 2015),
 ('CHE', 2010),
 ('CHE', 2015),
 ('CHL', 2010),
 ('CHL', 2015),
 ('CHN', 2010),
 ('CHN', 2015),
 ('CIV', 2010),
 ('CIV', 2015),
 ('CMR', 2010),
 ('CMR', 2015),
 ('COD', 2010),
 ('COD', 2015),
 ('COG', 2010),
 ('COG', 2015),
 ('COL', 2010),
 ('COL', 2015),
 ('COM', 2010),
 ('COM', 2015),
 ('CPV', 2010),
 ('CPV', 2015),
 ('CRI', 2010),
 ('CRI', 2015),
 ('CYP', 2010),
 ('CYP', 2015),
 ('CZE', 2010),
 ('CZE', 2015),
 ('DEU', 2010),
 ('DEU', 2015),
 ('DJI', 2010),
 ('DJI', 2015),
 ('DMA', 2010),
 ('DMA', 2015),
 ('DNK', 2010),
 ('DNK', 2015),
 ('DOM', 2010),
 ('DOM', 2015),
 ('DZA', 2010),
 ('DZA', 2015),
 ('ECU', 2010),
 ('ECU', 2015),
 ('EGY', 2010),
 ('EGY', 2015),
 ('ERI', 2010),
 ('ERI', 2015),
 ('ESP', 2010),
 ('ESP', 2015),
 ('EST', 2010),
 ('EST', 2015),
 ('ETH', 2010),
 ('ETH', 2015),
 ('FIN', 2010),
 ('FIN', 2015),
 ('FJI', 2010),
 ('FJI', 2015),
 ('FRA', 2010),
 ('FRA', 2015),
 ('FSM', 2010),
 ('FSM', 2015),
 ('GAB', 2010),
 ('GAB', 2015),
 ('GBR', 2010),
 ('GBR', 2015),
 ('GEO', 2010),
 ('GEO', 2015),
 ('GHA', 2010),
 ('GHA', 2015),
 ('GIN', 2010),
 ('GIN', 2015),
 ('GMB', 2010),
 ('GMB', 2015),
 ('GNB', 2010),
 ('GNB', 2015),
 ('GNQ', 2010),
 ('GNQ', 2015),
 ('GRC', 2010),
 ('GRC', 2015),
 ('GRD', 2010),
 ('GRD', 2015),
 ('GTM', 2010),
 ('GTM', 2015),
 ('GUY', 2010),
 ('GUY', 2015),
 ('HKG', 2010),
 ('HKG', 2015),
 ('HND', 2010),
 ('HND', 2015),
 ('HRV', 2010),
 ('HRV', 2015),
 ('HTI', 2010),
 ('HTI', 2015),
 ('HUN', 2010),
 ('HUN', 2015),
 ('IDN', 2010),
 ('IDN', 2015),
 ('IND', 2010),
 ('IND', 2015),
 ('IRL', 2010),
 ('IRL', 2015),
 ('IRN', 2010),
 ('IRN', 2015),
 ('IRQ', 2010),
 ('IRQ', 2015),
 ('ISL', 2010),
 ('ISL', 2015),
 ('ISR', 2010),
 ('ISR', 2015),
 ('ITA', 2010),
 ('ITA', 2015),
 ('JAM', 2010),
 ('JAM', 2015),
 ('JOR', 2010),
 ('JOR', 2015),
 ('JPN', 2010),
 ('JPN', 2015),
 ('KAZ', 2010),
 ('KAZ', 2015),
 ('KEN', 2010),
 ('KEN', 2015),
 ('KGZ', 2010),
 ('KGZ', 2015),
 ('KHM', 2010),
 ('KHM', 2015),
 ('KIR', 2010),
 ('KIR', 2015),
 ('KNA', 2010),
 ('KNA', 2015),
 ('KOR', 2010),
 ('KOR', 2015),
 ('KWT', 2010),
 ('KWT', 2015),
 ('LAO', 2010),
 ('LAO', 2015),
 ('LBN', 2010),
 ('LBN', 2015),
 ('LBR', 2010),
 ('LBR', 2015),
 ('LBY', 2010),
 ('LBY', 2015),
 ('LCA', 2010),
 ('LCA', 2015),
 ('LKA', 2010),
 ('LKA', 2015),
 ('LSO', 2010),
 ('LSO', 2015),
 ('LTU', 2010),
 ('LTU', 2015),
 ('LUX', 2010),
 ('LUX', 2015),
 ('LVA', 2010),
 ('LVA', 2015),
 ('MAC', 2010),
 ('MAC', 2015),
 ('MAR', 2010),
 ('MAR', 2015),
 ('MDA', 2010),
 ('MDA', 2015),
 ('MDG', 2010),
 ('MDG', 2015),
 ('MDV', 2010),
 ('MDV', 2015),
 ('MEX', 2010),
 ('MEX', 2015),
 ('MHL', 2010),
 ('MHL', 2015),
 ('MKD', 2010),
 ('MKD', 2015),
 ('MLI', 2010),
 ('MLI', 2015),
 ('MLT', 2010),
 ('MLT', 2015),
 ('MMR', 2010),
 ('MMR', 2015),
 ('MNE', 2010),
 ('MNE', 2015),
 ('MNG', 2010),
 ('MNG', 2015),
 ('MOZ', 2010),
 ('MOZ', 2015),
 ('MRT', 2010),
 ('MRT', 2015),
 ('MUS', 2010),
 ('MUS', 2015),
 ('MWI', 2010),
 ('MWI', 2015),
 ('MYS', 2010),
 ('MYS', 2015),
 ('NAM', 2010),
 ('NAM', 2015),
 ('NER', 2010),
 ('NER', 2015),
 ('NGA', 2010),
 ('NGA', 2015),
 ('NIC', 2010),
 ('NIC', 2015),
 ('NLD', 2010),
 ('NLD', 2015),
 ('NOR', 2010),
 ('NOR', 2015),
 ('NPL', 2010),
 ('NPL', 2015),
 ('NRU', 2010),
 ('NRU', 2015),
 ('NZL', 2010),
 ('NZL', 2015),
 ('OMN', 2010),
 ('OMN', 2015),
 ('PAK', 2010),
 ('PAK', 2015),
 ('PAN', 2010),
 ('PAN', 2015),
 ('PER', 2010),
 ('PER', 2015),
 ('PHL', 2010),
 ('PHL', 2015),
 ('PLW', 2010),
 ('PLW', 2015),
 ('PNG', 2010),
 ('PNG', 2015),
 ('POL', 2010),
 ('POL', 2015),
 ('PRI', 2010),
 ('PRI', 2015),
 ('PRT', 2010),
 ('PRT', 2015),
 ('PRY', 2010),
 ('PRY', 2015),
 ('QAT', 2010),
 ('QAT', 2015),
 ('ROU', 2010),
 ('ROU', 2015),
 ('RUS', 2010),
 ('RUS', 2015),
 ('RWA', 2010),
 ('RWA', 2015),
 ('SAU', 2010),
 ('SAU', 2015),
 ('SDN', 2010),
 ('SDN', 2015),
 ('SEN', 2010),
 ('SEN', 2015),
 ('SGP', 2010),
 ('SGP', 2015),
 ('SLB', 2010),
 ('SLB', 2015),
 ('SLE', 2010),
 ('SLE', 2015),
 ('SLV', 2010),
 ('SLV', 2015),
 ('SMR', 2010),
 ('SMR', 2015),
 ('SRB', 2010),
 ('SRB', 2015),
 ('SSD', 2010),
 ('SSD', 2015),
 ('STP', 2010),
 ('STP', 2015),
 ('SUR', 2010),
 ('SUR', 2015),
 ('SVK', 2010),
 ('SVK', 2015),
 ('SVN', 2010),
 ('SVN', 2015),
 ('SWE', 2010),
 ('SWE', 2015),
 ('SWZ', 2010),
 ('SWZ', 2015),
 ('SYC', 2010),
 ('SYC', 2015),
 ('SYR', 2010),
 ('SYR', 2015),
 ('TCD', 2010),
 ('TCD', 2015),
 ('TGO', 2010),
 ('TGO', 2015),
 ('THA', 2010),
 ('THA', 2015),
 ('TJK', 2010),
 ('TJK', 2015),
 ('TKM', 2010),
 ('TKM', 2015),
 ('TLS', 2010),
 ('TLS', 2015),
 ('TON', 2010),
 ('TON', 2015),
 ('TTO', 2010),
 ('TTO', 2015),
 ('TUN', 2010),
 ('TUN', 2015),
 ('TUR', 2010),
 ('TUR', 2015),
 ('TUV', 2010),
 ('TUV', 2015),
 ('TZA', 2010),
 ('TZA', 2015),
 ('UGA', 2010),
 ('UGA', 2015),
 ('UKR', 2010),
 ('UKR', 2015),
 ('URY', 2010),
 ('URY', 2015),
 ('USA', 2010),
 ('USA', 2015),
 ('UZB', 2010),
 ('UZB', 2015),
 ('VCT', 2010),
 ('VCT', 2015),
 ('VEN', 2010),
 ('VEN', 2015),
 ('VNM', 2010),
 ('VNM', 2015),
 ('VUT', 2010),
 ('VUT', 2015),
 ('WSM', 2010),
 ('WSM', 2015),
 ('YEM', 2010),
 ('YEM', 2015),
 ('ZAF', 2010),
 ('ZAF', 2015),
 ('ZMB', 2010),
 ('ZMB', 2015),
 ('ZWE', 2010),
 ('ZWE', 2015)]

## 5.3.6 INTERSECT

In [142]:
print('Ok_')

Ok_