In [42]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [43]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [44]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [45]:
import sys
sys.path.append("../") 

from utils.paths import make_dir_line

modality = 'c'
project = 'Introduction to Relational Databases in SQL'
data = make_dir_line(modality, project)

raw = data('raw')

In [46]:
import sqlite3

conn = sqlite3.connect(":memory:")  ## aca se indica el nombre de la db.
cur = conn.cursor()

# 6.2.0 Enforce data consistency with attribute constraints

info: https://www.postgresql.org/docs/10/datatype-datetime.html#DATATYPE-DATETIME-INPUT

In [47]:
conn.executescript(
    """
    
DROP TABLE IF EXISTS transactions;

CREATE TABLE transactions (
  transaction_date    DATE,
  amount              INTEGER,
  fee                 TEXT
);

"""
)
conn.commit()

In [48]:
df = pd.read_csv(raw / 'transactions.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
transactions = list(zip(df.transaction_date, df.amount, df.fee))
cur.executemany("INSERT INTO transactions VALUES  (?,?,?)", transactions)

## 6.2.2 Types of database constraints

Which of the following is **not** used to enforce a database constraint?

R:/ SQL aggregate functions. SQL aggregate functions are not used to enforce constraints, but to do calculations on data.

## 6.2.3 Conforming with data types

In [49]:
# -- Let's add a record to the table
cur.execute("""
            
            INSERT INTO transactions (transaction_date, amount, fee) 
            VALUES ('24/09/2018', 5454, '30');
                        
            """).fetchall()

[]

In [50]:
# -- Doublecheck the contents
cur.execute("""
            
            SELECT *
            FROM transactions;
                        
            """).fetchall()

[('8/01/1999', 500, '20'),
 ('20/02/2001', 403, '15'),
 ('20/03/2001', 3430, '35'),
 ('24/09/2018', 5454, '30')]

## 6.2.4 Type CASTs

In [51]:
# -- Calculate the net amount as amount + fee
cur.execute("""
            
            SELECT transaction_date, amount + CAST(fee AS integer) AS net_amount 
            FROM transactions;
                        
            """).fetchall()

[('8/01/1999', 520),
 ('20/02/2001', 418),
 ('20/03/2001', 3465),
 ('24/09/2018', 5484)]

## 6.2.6 Change types with ALTER COLUMN

In [ ]:
conn = sqlite3.connect(":memory:") 
cur = conn.cursor()

In [58]:
conn.executescript(
    """
    
    DROP TABLE IF EXISTS university_professors;

    CREATE TABLE university_professors (
        firstname             VARCHAR,
        lastname              VARCHAR,
        university            VARCHAR,
        university_shortname  VARCHAR,
        university_city       VARCHAR,
        function              VARCHAR,
        organization          VARCHAR,
        organization_sector   VARCHAR
    );


    DROP TABLE IF EXISTS professors;

    CREATE TABLE professors (
        firstname            text,
        lastname             text,
        university_shortname text
    );


    DROP TABLE IF EXISTS universities;
    
    CREATE TABLE universities (
        university_shortname text,
        university text      text,
        university_city      text
    );


    DROP TABLE IF EXISTS organizations;

    CREATE TABLE organizations (
        organization        text,
        organization_sector text
    );


    DROP TABLE IF EXISTS affiliations;

    CREATE TABLE affiliations (
        firstname             text,
        lastname              text,
        function              text,
        organization          text
    );


    """
)
conn.commit()

In [59]:
df = pd.read_csv(raw / 'university_professors.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
university_professors = list(zip(df.firstname, df.lastname, df.university, df.university_shortname, df.university_city, df.function, df.organization, df.organization_sector))
cur.executemany("INSERT INTO university_professors VALUES  (?,?,?,?,?,?,?,?)", university_professors)

In [60]:
cur.executescript("""
    
    INSERT INTO professors 
    SELECT DISTINCT firstname, lastname, university_shortname 
    FROM university_professors;

    INSERT INTO affiliations 
    SELECT DISTINCT firstname, lastname, function, organization 
    FROM university_professors;            
                
                """)

In [61]:
# -- Select the university_shortname column
cur.execute("""
            
            SELECT DISTINCT(university_shortname) 
            FROM professors;
                        
            """).fetchall()

[('EPF',),
 ('ETH',),
 ('UBE',),
 ('ULA',),
 ('USG',),
 ('UNE',),
 ('UFR',),
 ('USI',),
 ('UBA',),
 ('UGE',),
 ('UZH',)]

In [63]:
# # -- Specify the correct fixed-length character type
# cur.execute("""
            
#             ALTER TABLE professors
#             ALTER COLUMN university_shortname
#             TYPE char(3);
                        
#             """).fetchall()

In [ ]:
# # -- Specify the correct fixed-length character type
# cur.execute("""
            
#             ALTER TABLE professors
#             ALTER COLUMN firstname
#             TYPE varchar(64);
                        
#             """).fetchall()

## 6.2.7 Convert types USING a function

If you don't want to reserve too much space for a certain varchar column, you can truncate the values before converting its type.

In [65]:
# # -- Convert the values in firstname to a max. of 16 characters
# cur.execute("""
            
#             ALTER TABLE professors 
#             ALTER COLUMN firstname 
#             TYPE varchar(16)
#             USING SUBSTRING(firstname FROM 1 FOR 16)
                        
#             """).fetchall()

In [ ]:
cur.execute("""
            

                        
            """).fetchall()

In [ ]:
# SELECT *
# FROM (
#   SELECT *,
#     ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS row_num
#   FROM transactions
# ) AS subquery
# WHERE row_num BETWEEN 100 AND 200;

In [51]:
print('Ok_')

Ok_