In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [4]:
import sys
sys.path.append("../") 

from utils.paths import make_dir_line

modality = 'c'
project = 'Introduction to Relational Databases in SQL'
data = make_dir_line(modality, project)

raw = data('raw')

In [5]:
import sqlite3

conn = sqlite3.connect(":memory:")  ## aca se indica el nombre de la db.
cur = conn.cursor()

# 6.3.0_Uniquely identify records with key constraints

In [6]:
conn.executescript(
    """
    
    DROP TABLE IF EXISTS university_professors;

    CREATE TABLE university_professors (
        firstname             VARCHAR,
        lastname              VARCHAR,
        university            VARCHAR,
        university_shortname  VARCHAR,
        university_city       VARCHAR,
        function              VARCHAR,
        organization          VARCHAR,
        organization_sector   VARCHAR
    );


    DROP TABLE IF EXISTS professors;

    CREATE TABLE professors (
        firstname            text,
        lastname             text,
        university_shortname text
    );


    DROP TABLE IF EXISTS universities;
    
    CREATE TABLE universities (
        university_shortname text,
        university           text,
        university_city      text
    );


    DROP TABLE IF EXISTS affiliations;

    CREATE TABLE affiliations (
        firstname             text,
        lastname              text,
        function              text
    );


    DROP TABLE IF EXISTS organizations;

    CREATE TABLE organizations (
        organization        text,
        organization_sector text
    );
    

    """
)
conn.commit()

In [7]:
df = pd.read_csv(raw / 'university_professors.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
university_professors = list(zip(df.firstname, df.lastname, df.university, df.university_shortname, df.university_city, df.function, df.organization, df.organization_sector))
cur.executemany("INSERT INTO university_professors VALUES  (?,?,?,?,?,?,?,?)", university_professors)

In [8]:
cur.executescript(
    """
    
    
    INSERT INTO universities 
    SELECT DISTINCT university_shortname, university, university_city 
    FROM university_professors;
    
    
    INSERT INTO professors 
    SELECT DISTINCT firstname, lastname, university_shortname 
    FROM university_professors;


    INSERT INTO affiliations 
    SELECT DISTINCT firstname, lastname, function
    FROM university_professors; 
    
    
    INSERT INTO organizations 
    SELECT DISTINCT organization, organization_sector 
    FROM university_professors; 
    

    """
)
conn.commit()

## 6.3.2 Get to know SELECT COUNT DISTINCT

In [9]:
# -- Count the number of rows in universities
cur.execute("""
            
            SELECT DISTINCT COUNT (*)
            FROM universities;
                        
            """).fetchall()

[(11,)]

In [10]:
# -- Count the number of distinct values in the university_city column
cur.execute("""
            
            SELECT COUNT(DISTINCT(university_city))
            FROM universities;
                        
            """).fetchall()

[(9,)]

## 6.3.3 Identify keys with SELECT COUNT DISTINCT

In [17]:
# # -- Try out different combinations
# cur.execute("""
            
#             SELECT COUNT(DISTINCT(firstname, lastname)) 
#             FROM professors;
                        
#             """).fetchall()

## 6.3.5 Identify the primary key

In [ ]:
cur.execute("""
            

                        
            """).fetchall()

[]

In [ ]:
print('Ok_')

Ok_